# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
*.iml
*.apk
*.aab

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/**/gradle-wrapper.jar
**/*.keystore
**/*.jks

# 系统/编辑器
.DS_Store
.idea/
.vscode/
*.log
